@media only screen and (max-width: 1000px) and (min-width: 0px){
    #melissa_Mondello {
      margin: -1% 0 0 -5% !important;
    }
    #kellyDuroncelet {
      margin: -4% 0 0 5% !important;
    }
    #kyle_raymond {
      margin: -5% 0 0 -1% !important;
    }
    #kyleRaymondH {
      padding-top: 54px !important;
    }
    #cherylAgustin{
      margin: -6% 0 0 0% !important;
    }
    #ryanKravontka{
      margin: -2.5% 0 0 -3% !important;
    }
    #stephanieRuby{
      margin: -3% 0 0 2% !important;
    }
    #ryanName{
      padding-top: 60px !important;
    }
    #reshmaZachariah{
      margin: -3% 0 0 -8% !important;
    }
    #cocoNoelle {
      margin: -4% 0 0 -1% !important;
    }
    #nate_makuch {
      margin: -5% 0 0 -3% !important;
    }
}
